---
import {getRelativeLocaleUrl, getRelativeLocaleUrlList, pathHasLocale} from "astro:i18n";
import {defaultLocale} from "@/i18n/utils";
import {labels} from "@/i18n/ui.ts";

const path = pathHasLocale(Astro.url.pathname) ? Astro.url.pathname.split("/").slice(2).join("/") : Astro.url.pathname;
const currentLocale = Astro.currentLocale || defaultLocale;

// exclude the current or default locale
const langURLs = getRelativeLocaleUrlList(path).filter((item: string) => 
    item !== getRelativeLocaleUrl(currentLocale, path)
);
---
Also available in {langURLs.map((langUrl: string) => {
    // get from the path
    // TODO: filter out non-existent pages
    const localePath = pathHasLocale(langUrl) ? langUrl.split("/")[1] : defaultLocale;
    const label = labels[localePath] || localePath;
    return <a href={langUrl}>{label}</a>;
})}