---
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";
import {defaultLocale, localePathMap} from "@/i18n/utils.ts";

export async function getStaticPaths() {
    const pageEntries = await getCollection('pages');
    const languages = Object.keys(localePathMap).filter(item => item != defaultLocale)
    return pageEntries.map(entry => {
        let slug;
        const locale= entry.id.split("/")[0]
        const [sLocale, ...slugParts] = entry.slug.split("/")
        if (locale === defaultLocale) {
            if (sLocale == defaultLocale) {
                slug = entry.slug.split("/").slice(1).join("/")
            } else {
                slug = entry.slug
            }
        } else if (languages.includes(locale)) {
            if (locale.toLowerCase() === sLocale) {
                slug = localePathMap[locale] + "/" + slugParts
            } else {
                slug = localePathMap[locale] + "/" + entry.slug
            }
        } else {
            slug = entry.slug
        }
        return {params: { slug }, props: { entry }}
    });
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description} >
    <h1 class="title">{entry.data.title}</h1>
    <div class="content">
        <Content/>
    </div>
</Layout>