---
import Layout from '../layouts/Layout.astro';

---

<Layout title="" description="That a good start.">
  <h1 class="title">~/</h1>
  <div class="content">
    <h3>Welcome!</h3>

    Not much here yet, but you can check out my blog posts <a href="/blog">here</a>.
    <br />
    If you are site owner, please edit <code>src/pages/index.astro</code> to customize this page.
  </div>
</Layout>