---
import {getPostSlug} from "@/i18n/utils.ts";
const { posts, displayDate = false, placeholder = false, limit = 0} = Astro.props;

const displayedPosts = limit > 0 ? posts.slice(0, limit) : posts;
---
<div style="margin-top: 1rem; margin-left: 1rem;">
    {displayedPosts.map((post: any) => (
            <p>
                {displayDate && <span class="list-date">{new Date(post.data.date).toISOString().split('T')[0]}</span>}
                {post.data.draft && <span class="draft-badge">[draft] </span>}<a href={`${getPostSlug(post.filePath, post.id)}`}>{post.data.title}</a>
            </p>
    ))}

    {placeholder && displayedPosts.length === 0 && (
            <>
                <p>
                    <span style="color: var(--terminal-yellow);">No posts here yet</span>
                </p>
            </>
    )}
</div>