---
import {siteConfig} from "../config";
import FediverseComments from "./helper/comments/Fediverse.astro";
import HatsuComments from "./helper/comments/Hatsu.astro";
import Artalk from "./helper/comments/Artalk.astro";
import Giscus from "./helper/comments/Giscus.astro";

const method = siteConfig.comments.type

const FediverseConfig = siteConfig.comments.fediverse
interface Props {
    path?: string;
}

let { path='/' } = Astro.props;
---
{method === 'artalk' && <Artalk path={path} />}
{method === 'giscus' && <Giscus/>}
<!-- if prerender === true is set then render from client -->
{(method === 'fediverse' && !FediverseConfig.renderOnServer ) && <FediverseComments path={path} /> }
{(method === 'fediverse' && FediverseConfig.renderOnServer ) && <FediverseComments server:defer path={path} ><p>Loading comments...</p></FediverseComments> }
{method === 'hatsu' && <HatsuComments /> }