---
import {siteConfig} from "../config";
const navBarItems = siteConfig.navBarItems
---
<nav class="nav">
    <a href="/" class="home">~</a>
    <a href="/blog">Blog</a>
    {navBarItems.map((item) => <a href={item.link}>{item.text}</a>)}
</nav>